
<div class="alert alert-warning" role="alert" *ngIf="!servis.OturumKontrol()">
  <strong>Bu işlem üyelik gerektirir.</strong> Lütfen oturum açınız.
</div>

<header>
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active size">
        <img src="/assets/img/bg1.jpg" class="d-block w-100 caraousal-size" alt="...">
      </div>
      <div class="carousel-item ">
        <img src="/assets/img/bg2.jpg" class="d-block w-100 caraousal-size" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/assets/img/bg3.jpg" class="d-block w-100 caraousal-size" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</header>

&#160;

<div class="services pd">
  <div class="container">
    <h3 class="title">Güvencelerimiz</h3>
    <div class="row text-center">
      <div class="col-md-3">
        <div class="square"><i class="fas fa-check"></i></div>
        <div class="serv">
          <h5>Güven</h5>
          <p>Marketteki en güvenilir evler bizde</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="serv">
          <div class="square"><i class="fas fa-users"></i></div>
          <h5>Ara buluculuk ve Müşteri memnuniyeti</h5>
          <p>Servislerimizden çok memnun kalacaksınız!</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="square"><i class="fas fa-shop"></i></div>
        <div class="serv">
          <h5>Marketin en iyisi</h5>
          <p>En iyi evler bizde!</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="square"><i class="fas fa-wallet"></i></div>
        <div class="serv">
          <h5>Cep dostu</h5>
          <p>En ucuz evler bizde!</p>
        </div>
      </div>
    </div>
  </div>
</div>

&#160;

<section class="home-info-grey">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h2>Neye inanıyoruz</h2>
        <p>E-Emlak uygulaması ile hayalindeki evi bulmak çok kolay. Dilediğin konumdaki ilanlara bakabilir veya şu an
        bulunduğun konuma yakın ilanlara ulaşabilirsin.</p>
      </div>
      <div class="col-md-5 drop-cap-text"> <span class="drop-cap"><span class="drop-cap-letter">E</span></span>mlak
      Kurumsal Üyelere Özel Çözümler </div>
    </div>
  </div>
</section>

&#160;

<footer class="bg-light text-center text-lg-start">
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">Kentsel dönüşümle 3,2 milyon</h5>

        <p>
          Çevre, Şehircilik ve İklim Değişikliği Bakanlığınca kentsel dönüşüm çalışmaları kapsamında 3 milyon 200 bin konut
          yenilendi
        </p>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">Faiz Artışları Küresel Konut</h5>

        <p>
        Küresel borçlanma maliyetlerindeki artış, gelişmiş ve gelişmekte olan dünyada konut piyasasında yaşanan patlamayı
        </p>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
   <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; E-Emlak 2022</p>
    </div>
  </footer>
  <!-- Copyright -->
</footer>
