<div class="mt-4 ms-4">
  <button class="btn btn-warning" (click)=" RouteToAdminSection()" [disabled]="!servis.CheckAdmin()"><i class="fa-solid fa-right-from-bracket"></i> Admin Paneline Geri Dön</button>
</div>
<div class="container mt-5">
  <div class="row">
    <div class="col">
      <h3>Üyeler</h3>
            <h6 class="text-black-50">DİKKAT! Üyelikler Firebase üzerinden yönetilmektedir, o yüzden sil ve üye ekle tuşlarını kullanmayınız. Düzenleme yapabilirsiniz.</h6>

      <button class="btn btn-outline-success" (click)="AddUserModal(UserModalAdjust)"
        [disabled]=""><i class="fa fa-plus"></i> Uye Ekle</button>
      <table class="table table-hover mt-3">
        <thead>
          <th>Id</th>
          <th>Kullanıcı İsmi</th>
          <th>E-Mail</th>
          <th>Admin</th>
          <th>O. Tarihi</th>
          <th>Düz. Tarihi</th>
          <th>Düzenle</th>
          <th>Sil</th>
        </thead>
        <tbody>
          <tr *ngFor="let User of Users">
            <td>{{User.id}}</td>
            <td>{{User.adsoyad}}</td>
            <td>{{User.mail}}</td>

              <td>
                <span *ngIf="User.admin==1" class="badge bg-success">EVET</span>
                <span *ngIf="User.admin==0" class="badge bg-danger">HAYIR</span>
              </td>
            <td>{{User.kaytarih | date:'dd.MM.yyyy HH:mm:ss'}}</td>
            <td>{{User.duztarih | date:'dd.MM.yyyy HH:mm:ss'}}</td>
            <td><button class="btn btn-outline-warning" (click)="EditUserModal(User,UserModalAdjust)"
                [disabled]="!servis.CheckAdmin()">Düzenle</button></td>
            <td><button class="btn btn-outline-danger" (click)="DeleteUserModal(User,UserModalDelete)"
                [disabled]="">Sil</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  </div>

    <div class="modal" tabindex="-1" #UserModalAdjust>
      <div class="modal-dialog">
        <form [formGroup]="U_Form" (ngSubmit)="AdjustUsers()">
          <div class="modal-content">
            <div class="modal-header bg-primary text-white">
              <h5 class="modal-title">{{U_ModalName}}</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

              <div class="form-group">
                <label>Kullanıcı Adı</label>
                <input type="text" class="form-control" formControlName="adsoyad">
                <input type="hidden" class="form-control" formControlName="id">
                <label>Kullanıcı admin</label>
                <select class="form-control" formControlName="admin">
                  <option value="1">Evet</option>
                  <option value="0">Hayır</option>
                  </select>
               <!-- <label>Kullanıcı Mail</label>-->
                <input type="hidden" class="form-control"  formControlName="mail">
                <!-- <label>Kullanıcı Parola</label>-->
                <input type="hidden" class="form-control" formControlName="parola">
                <input type="hidden" class="form-control" formControlName="kaytarih">
                <input type="hidden" class="form-control" formControlName="duztarih">

              </div>

            </div>
            <div class="modal-footer">

              <input type="submit" class="btn btn-outline-primary" value="Kaydet">
              <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Kapat</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="modal" tabindex="-1" #UserModalDelete>
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header bg-danger text-white">
            <h5 class="modal-title">{{U_ModalName}}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <h6 *ngIf="ChosenUser">{{ChosenUser.adsoyad}} Adlı Kullanıcı silinecektir, bu işlem geri alınamaz. Emin misiniz?
            </h6>
          </div>
          <div class="modal-footer">

            <button class="btn btn-outline-danger" *ngIf="ChosenUser" (click)="DeleteUser()">Sil</button>
            <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Kapat</button>
          </div>
        </div>

      </div>
    </div>
